@model List<DemoProject.Models.Company>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Companies</h1>

<a href="@Url.Action("Create")" class="btn btn-success mb-4">Create Company</a>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model)
                {

                <tr>
                    <td>@company.Name</td>
                    <td>@company.Address</td>
                    <td>@company.Phone</td>
                    <td class=" d-flex justify-content-around">
                        <a href="@Url.Action("Edit", new { id = company.Id })" class="text-info"><i class="fas fa-edit"></i></a>
                        <a onclick="return confirm('Are you sure delete this company')" href="@Url.Action("Delete", new { id = company.Id })" class="text-warning"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>

